<div id='header-slider'>
  <figure class='slider'>
    <figure>
      <img src='./src/images/slider1.jpg' />
      <figcaption>
        Букеты для любого <br />события
      </figcaption>
    </figure>
    <figure>
      <img src='./src/images/slider2.jpg' />
      <figcaption>
        Цветы <br />для Вашей свадьбы
      </figcaption>
    </figure>
    <figure>
      <img src='./src/images/slider3.jpg' />
      <figcaption>
        Декор <br />для свадьбы
      </figcaption>
    </figure>
    <figure>
      <img src='./src/images/slider1.jpg' />
      <figcaption>
        Букеты для любого события
      </figcaption>
    </figure>
  </figure>
</div>

<div class='greeting'>
  <div class='greeting-text'>
    <p class='heading'>
      Прекрасный подарок
    </p>
    <p class='basic-text-center'>
      Цветы - это прекрастный подарок для любого повода. У нас Вы обязательно сможете подобрать что-то особенное. В нашем магазине Вы сможете найти:
    </p>
    <a href='#'>букеты</a><br />
    <a href='#'>букеты для невест</a><br />
    <a href='#'>букеты в коробке</a><br />
    <a href='#'>цветочный декор</a><br />
  </div>
  <div class='greeting-img'>
    <img src='./src/images/main-about-products.jpg' />
  </div>
</div>
<!--<div class='shop'>
<div id='content'>

  <div class='productContainer'>
    <div class='product-img'>
      <img src='./src/images/1b.jpg' />
    </div>
    <div class='product-description'>
      <p>
         name
      </p>
      <p>
        price
      </p>
    </div>
  </div>

  <script type='text/template' id='product-id'>
    <div class='product-img'>
      <img src='<%=src%>' />
    </div>
    <div class='product-description'>
      <p>
        <%= name %>
      </p>
      <p>
        <%= price %>
      </p>
    </div>
  </script>

</div>
</div>-->
<div class="popular-products">
  <p class='header-small'>
    Популярные товары
  </p>
  <div class='flex-container'>
    <div class='card-popular'>
      <img src="./src/images/popular1.jpg" />
      <p class='product-name'>
        Shimmer And Shine
      </p>
      <p class='price-popular'>
        23 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
    <div class='card-popular'>
      <img src="./src/images/popular2.jpg" />
      <p class='product-name'>
        Happy Thoughts
      </p>
      <p class='price-popular'>
        37 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
    <div class='card-popular'>
      <img src="./src/images/popular3.jpg" />
      <p class='product-name'>
        Lovely In Blue
      </p>
      <p class='price-popular'>
        31 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
    <div class='card-popular'>
      <img src="./src/images/popular4.jpg" />
      <p class='product-name'>
        Brightness
      </p>
      <p class='price-popular'>
        49 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
    <div class='card-popular'>
      <img src="./src/images/popular5.jpg" />
      <p class='product-name'>
        Beautiful In White
      </p>
      <p class='price-popular'>
        35 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
    <div class='card-popular'>
      <img src="./src/images/popular6.jpg" />
      <p class='product-name'>
        Shimmer And Shine
      </p>
      <p class='price-popular'>
        23 р.
      </p>
      <button class='popular-buy'>Купить</button>
    </div>
  </div>
</div>
